

.App {
  text-align: center;
  background: #A4C2A8
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.sig{
  color: #2A2B2E;
  position: absolute;
  top:0;
  left:0;
  /* float: left; */
}

.sig :hover{
  color: white;
  cursor: pointer;
}

.sig2{
  color:#A4C2A8;
  background: #A4C2A8;
  width:30px;
  
}

.sig2 :hover{
  color: white;
  cursor: pointer;
}



.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.topOpage{
  background-color: #2A2B2E;
  color: white;
  height: 50px;
  border: 2px solid black;
  font-size: 20px;
  padding-bottom: 40px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  


  
  
}

.topOpage > button{
 
  position: absolute;
  top: 0;
  right: 0;
  position: fixed;
  top: 0; 
  width: 50px;

 
}



.main-container{
  display: flex;
  align-content: space-between;
  justify-content: center;
  
}

.quoteCard{
  
  border: 1px solid black;
  background: #A4C2A8;
  margin: 20px 0 0 0 ;
  padding: 20px;
  width: 50%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  

}

.topOpageFav{
  background-color: #2A2B2E;
  color: white;
  height: 48px;
  border: 2px solid black;
  font-size: 50px;
  padding-bottom: 40px;
}
.easterEgg{
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.bottomButton{
  margin: 20px;

}

.bottomButton > button {
  float: right;
}


.favHead{
  font-size: 40px;
 
}

.favList{
  background: #A4C2A8;
  display: flex;
  align-content: space-between;
  flex-flow: wrap;
  justify-content: center;
}

.favQuoteCard{
  width: 50%;
  margin: 20px 0 20px 0;
  padding: 20px;
  flex-flow: wrap;
  border: 2px solid #2A2B2E;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

